<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oauth2.mapper.ext.SysUserExtMapper">
    <select id="selectRoleListByUserId" resultType="com.oauth2.entity.SysRole">
        select
		r.role_id as roleId,
		r.role_code as roleCode,
		r.role_name as roleName
        from role r
        inner join user_role ur on r.role_id = ur.role_id
        where ur.user_id = #{userId}
    </select>

    <select id="selectPermissionByUserId" resultType="com.oauth2.entity.SysPermission">
        select
		DISTINCT
		sp.id as id,
		sp.permission_code as permissionCode,
		sp.permission_name as permissionName
		from
		sys_user su
		left join sys_user_role sur on su.id = sur.uid
		left join sys_role sr on sur.rid = sr.id
		left join sys_role_permission srp on sr.id = srp.role_id
		left join sys_permission sp on srp.permission_id = sp.id
		where su.id = #{userId}
    </select>


</mapper>